.profile_image {
    margin-top: -10px;
    margin-bottom: 10px;
    -webkit-clip-path: Polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
    clip-path: Polygon(0 10%, 100% 0, 100% 88%, 0% 98%);
}
.profile_image_img {
    width: 100%
}

/* .css-11av5bn-MuiButtonBase-root-MuiButton-root:hover{
    background-color: tomato;
} */

.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.css-11av5bn-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #F5BC00;
}