.profile_image {
    margin: 0;
    padding: 0;
    width: '100px';
    height: '200px'; // Adjust this value as needed
    overflow: 'hidden';
}

.profile_image_img {
    width: '-webkit-fill-available';
    height: '100%';
    objectFit: 'cover';
}

/* .css-11av5bn-MuiButtonBase-root-MuiButton-root:hover{
    background-color: tomato;
} */

.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.css-11av5bn-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #F5BC00;
}